* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #dcfadc;
}

.navbar {
    background: teal;
    height: 90px;
}

/* get-start start */

.get-start {
    position: relative;
    height: 15rem;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 1rem;
}

.get-start::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(./Images/getStarted.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
}

.get-start h1 {
    margin-bottom: 1rem;
    color: white;
}

.get-start .search input {
    height: 1.8rem;
    width: 20rem;
    outline: none;
    border: 2px solid #8ef88e;
    border-radius: 5px;
    padding: 0 1rem 0 2rem;
    transition: 0.5s;
}

.get-start .search i {
    position: relative;
    top: 2px;
    left: 30px;
    display: inline-block;
    color: #8ef88e;
}

.get-start .search input:focus {
    box-shadow: 0 0 20px #a5eba5, 0 0 20px #a5eba5;
}

.get-start .search-items {
    margin-top: 1rem;
}

.search-items .items {
    margin-right: 0.9rem;
    color: white;
}

.search-items .items {
    cursor: pointer;
}


/* suggestion  start */
.wishes {
    text-align: center;
    margin-bottom: 1rem;
}

.card-holder {
    padding: 0 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;

    margin-bottom: 1rem;
}

.recipe-card {
    /* border: 2px solid black; */
    height: 16rem;
    width: 15rem;
    border-radius: 10px;
    background-color: white;
}

.recipe-card img {
    height: 13rem;
    width: 15rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-holder a {
    color: black;
    text-decoration: none;
}

.recipe-card .card-info {
    text-align: center;
}


/* course start */

.course-heading {
    text-align: center;
    margin-bottom: 1rem;
}

.card-holder .course-card {
    height: 19rem;
    width: 18rem;
    border-radius: 10px;
    background-color: white;
}

.course-card img {
    height: 13rem;
    width: 18rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.price-rating {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.course-info{
    padding: 0 1rem;
    line-height: 1.5rem;
}